body {
  background-color: #eeeeee;
  font-family: sans-serif;

}

.user {
  display: flex;
  background: #ffffff;
  padding: 1em;
  margin-left: 1em;
  flex-direction: row;
  border-bottom-right-radius: 2%;

}

#productImg2 {
  padding-right: 0px;
}



[title~="heading"] {
  text-transform: capitalize;
  font-size: 16px;
}

ul li {
  line-height: 25px;
  font-size: 14px;
  list-style: none;
}

#priceLi-1 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 2rem;
}

#priceLi-2 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 3.6rem;
}

#priceLi-3 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}

.price-details {
  text-align: left;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 300px;
}

#total_price {
  padding-left: 4.7rem;
  font-weight: 200;
}

#delivery_charges {
  padding-left: 1.6em;
  font-weight: 200;
}

#amount_payable {
  padding-left: 1.99rem;
  font-weight: 200;
}

#pincodeIP {
  border: none;
  border-bottom: 1px solid grey;
  height: 3vh;
  padding-bottom: 0px;
  color: grey;
  opacity: 0.5;
  padding-top: 5px;
}

.myCart {

  display: flex;
  flex-direction: column;
  border-radius: 1%;
  justify-content: center;
  box-shadow: 2px 2px 4px grey;
  background-color: white;
  width: 698px;

}

.priceDetails {
  box-shadow: 2px 2px 4px grey;
  /* float: left; */
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2%;
  padding: 1em 0px;
  margin-left: 4em;

}

/* new CSS */

.ProductContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.myCarth1 {
  font-weight: 500;
  font-family: sans-serif;
  padding-left: 3em;
  padding-top: 1em;
}

.productHeaderSearch {
  display: flex;
  padding-top: 5px;
}

.myCartIp {
  margin: 18px 18px;
  padding-right: 5px;
}

.checkBtn {
  margin: 20px 18px;
  padding-right: 5px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4em;
  flex: 1;
}

.pseudo_container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  align-content: space-between;
  flex: 1;
}

.priceDetailsHeader {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1em;
  margin-bottom: 0px;
}

/* ------------------------------ */


/* ##########################  PRODUCT HEADER ############################ */
.product_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.product_header_title {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.product_header_pincode {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product_header_pincode_search {
  padding: 5px;
}

.product_header_pincode_search>input {
  border: 0px;
  border-bottom: 1px solid grey;
}

.product_header_pincode_btn {
  padding: 5px;
}

.product_header_pincode_btn>button {
  font-size: 10px;
  background-color: #bebebe;
  padding: 4px 6px;
}

/* ##########################  PRODUCT ITEM ############################ */

.product_item_image0,
.product_item_image1,
.product_item_image3 {
  padding: 10px;
}

.product_item_image2 {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
}

.item_image {
  height: 100px;

}

.product_item_details0,
.product_item_details1,
.product_item_details3 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.product_item_details2 {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  padding-left: 5px;
  padding-right: 10px;
}


.item_price {
  padding: 3px 0px;
  font-size: 14px;
  font-weight: bold;
}

.item_delivery {
  padding: 3px 0px;
  font-size: 14px;
}

.item_num {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 0px;
}

.minus_btn {
  padding: 2px 0px;
}

.minus_btn button {
  border: 0px;
  padding-top: 1px;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  background-color: #a9a9a9;
}

.item_num_value {
  padding: 2px 1em;
}

.plus_btn {
  padding: 2px 0px;
}

.plus_btn button {
  border: 0px;
  border-radius: 50%;
  width: 1.5em;
  align-items: center;
  height: 1.5em;
  background-color: #a9a9a9;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.itemContainer {
  overflow-y: auto;
  height: 30em;
  border-radius: 1%;
  margin-bottom: 0.5em;
}

.pincodeAvl {
  color: gray;
}

#check_pincodes {
  padding: 3px 16px;
  border: none;
}

@media (max-width: 1260px) {
  .priceDetails {
    margin-top: 4em;
    align-content: center;
    /* margin-left: 0px; */
  }


}

@media (max-width: 800px) {
  .mainContainer {
    margin: 0;
  }
}